<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cookies</title>
    <th:block th:insert="~{guest/head.html :: headerfiles}"></th:block>
    <th:block th:insert="~{guest/sorter.html :: sorter-style}"></th:block>
</head>
<body>
<!-- ======= Header ======= -->
<header th:insert="~{guest/head.html :: header}"></header>


<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header" style="padding-top: 50px">
            <p>Best <span>Cookies Delivery</span></p>
        </div>

<div class="tab-content" data-aos="fade-up" data-aos-delay="300">

    <div class="tab-pane fade active show" id="cookies">

        <div class="tab-header text-center">
            <h3>Cookies</h3>
        </div>

        <th:block th:insert="~{guest/sorter.html :: sorter(baseUrl='/guest/allCookies')}"></th:block>

        <div class="row gy-5">

            <div class="col-lg-4 menu-item" th:each="cookie: ${items}">
                <img th:src="@{${cookie.getImgURL()}}" class="menu-img img-fluid">
                <h4 th:text="${cookie.name}"></h4>
                <p class="price" th:text="'$' + ${cookie.price}"/>
                <select class="select-qty">
                    <option value="1" selected>QTY: 1</option>
                    <th:block th:each="i : ${#numbers.sequence(2,12)}">
                        <option th:value="${i}" th:text="'QTY: ' + ${i}"></option>
                    </th:block>
                </select>
                <a class="btn-add-to-cart" th:data-id="${cookie.id}">Add to cart</a>
            </div><!-- Menu Item -->


        </div>
    </div><!-- End Starter Menu Content -->

</div>
       <th:block th:insert="~{guest/pagination.html :: pagination(baseUrl='/guest/allCookies')}"></th:block>
    </div>
</section>




<script>
    $(document).ready(function() {
        $('.btn-add-to-cart').click(function() {
            // Get the product ID from the data-id attribute
            var productId = $(this).data('id');

            // Get the selected quantity from the corresponding select element
            var qty = $(this).siblings('.select-qty').val();

            // Update the cart count span
            var cartCount = $('#cart-count');
            cartCount.text(parseInt(cartCount.text()) + parseInt(qty));
        });
    });
</script>
<script>
    $('.select-dropdown__button').on('click', function(){
        $('.select-dropdown__list').toggleClass('active');
    });
    $('.select-dropdown__list-item').on('click', function(){
        var itemValue = $(this).data('value');
        console.log(itemValue);
        $('.select-dropdown__button span').text($(this).text()).parent().attr('data-value', itemValue);
        $('.select-dropdown__list').toggleClass('active');
    });
</script>

</body>
</html>