<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{cookies}"/>
    <th:block th:insert="~{guest/head.html :: headerfiles}"></th:block>
    <th:block th:insert="~{guest/sorter.html :: sorter-style}"></th:block>
</head>
<body>
<!-- ======= Header ======= -->
<header th:insert="~{guest/head.html :: header}"></header>


<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header" style="padding-top: 50px">
            <p>Best <span>Cookies Worldwide</span></p>
        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="cookies">

                <div class="tab-header text-center">
                    <h3 th:text="#{cookies}"/>
                </div>

                <th:block th:insert="~{guest/sorter.html :: #sorter(baseUrl='/guest/allCookies')}"></th:block>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="cookie: ${content}">
                        <img th:src="@{${cookie.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${cookie.name}"/>
                        <p class="price" th:text="'$' + ${cookie.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' '+ ${i}"></option>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${cookie.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>
        <th:block th:insert="~{guest/pagination.html :: pagination(baseUrl='/guest/allCookies')}"></th:block>
    </div>
</section>

<script>
    $('.select-dropdown__button').on('click', function () {
        $('.select-dropdown__list').toggleClass('active');
    });
    $('.select-dropdown__list-item').on('click', function () {
        const itemValue = $(this).data('value');
        console.log(itemValue);
        $('.select-dropdown__button span').text($(this).text()).parent().attr('data-value', itemValue);
        $('.select-dropdown__list').toggleClass('active');
    });
</script>

</body>
</html>