<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{our.products}"/>

    <th:block th:insert="~{guest/head.html :: headerfiles}"></th:block>
</head>
<body>
<!-- ======= Header ======= -->
<header th:insert="~{guest/head.html :: header}"></header>


<!-- ======= Menu Section ======= -->
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header" style="padding-top: 50px">
            <p th:text="#{checkOur}"> <span th:text="#{deliciousBaking}"/></p>
            <a th:href="@{/guest/allProducts}" style="text-decoration: underline; font-weight: bold; font-size: 16px;" th:text="#{viewAll}"/>
        </div>


        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="cookies">

                <div class="tab-header text-center">
                    <h3 th:text="#{cookies}"/>
                    <a th:href="@{/guest/allCookies}" style="text-decoration: underline; font-weight: bold; font-size: 16px" th:text="#{viewMore}"/>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="cookie: ${cookies}">
                        <img th:src="@{${cookie.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${cookie.name}"></h4>
                        <p class="price" th:text="'$' + ${cookie.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' ' + ${i}"/>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${cookie.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>


        <div class="tab-content" data-aos="fade-up" data-aos-delay="300" style="margin-top: 50px;">

            <div class="tab-pane fade active show" id="cakes">

                <div class="tab-header text-center">
                    <h3 th:text="#{cakes}"/>
                    <a th:href="@{/guest/allCakes}" style="text-decoration: underline; font-weight: bold; font-size: 16px" th:text="#{viewMore}"/>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="cake: ${cakes}">
                        <img th:src="@{${cake.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${cake.name}"></h4>
                        <p class="price" th:text="'$' + ${cake.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' ' + ${i}"/>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${cake.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>



        <div class="tab-content" data-aos="fade-up" data-aos-delay="300" style="margin-top: 50px">

            <div class="tab-pane fade active show" id="croissants">

                <div class="tab-header text-center">
                    <h3 th:text="#{croissants}"/>
                    <a th:href="@{/guest/allCroissants}" style="text-decoration: underline; font-weight: bold; font-size: 16px" th:text="#{viewMore}"/>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="croissant: ${croissants}">
                        <img th:src="@{${croissant.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${croissant.name}"/>
                        <p class="price" th:text="'$' + ${croissant.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' ' + ${i}"/>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${croissant.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>



        <div class="tab-content" data-aos="fade-up" data-aos-delay="300" style="margin-top: 50px">

            <div class="tab-pane fade active show" id="cupcakes">

                <div class="tab-header text-center">
                    <h3 th:text="#{cupcakes}"/>
                    <a th:href="@{/guest/allCupcakes}" style="text-decoration: underline; font-weight: bold; font-size: 16px" th:text="#{viewMore}"/>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="cupcake: ${cupcakes}">
                        <img th:src="@{${cupcake.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${cupcake.name}"></h4>
                        <p class="price" th:text="'$' + ${cupcake.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' ' + ${i}"/>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${cupcake.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>




        <div class="tab-content" data-aos="fade-up" data-aos-delay="300" style="margin-top: 50px">

            <div class="tab-pane fade active show" id="cheesecakes">

                <div class="tab-header text-center">
                    <h3 th:text="#{cheesecakes}"/>
                    <a th:href="@{/guest/allCheesecakes}" style="text-decoration: underline; font-weight: bold; font-size: 16px" th:text="#{viewMore}"/>
                </div>

                <div class="row gy-5">

                    <div class="col-lg-4 menu-item" th:each="cheesecake: ${cheesecakes}">
                        <img th:src="@{${cheesecake.getImgURL()}}" class="menu-img img-fluid">
                        <h4 th:text="${cheesecake.name}"></h4>
                        <p class="price" th:text="'$' + ${cheesecake.price}"/>
                        <select class="select-qty">
                            <option value="1" selected th:text="#{qty}+':1'"/>
                            <th:block th:each="i : ${#numbers.sequence(2,12)}">
                                <option th:value="${i}" th:text="#{qty} + ' ' + ${i}"/>
                            </th:block>
                        </select>
                        <a class="btn-add-to-cart" th:data-id="${cheesecake.id}" th:text="#{addToCart}"/>
                    </div><!-- Menu Item -->


                </div>
            </div><!-- End Starter Menu Content -->

        </div>

    </div>
</section>
</body>
</html>