<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{signUp}"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <th:block th:insert="~{guest/head.html :: headerfiles}"></th:block>
</head>
<body>
<!-- ======= Header ======= -->
<header th:insert="~{guest/head.html :: header}"></header>

<div style="margin-top: 150px" class="container">
    <div class="registration mx-auto d-block w-100">

        <div th:insert="~{tags/alertTag :: alertTag}"></div>

        <div class="page-header text-center">
            <h1 th:text="#{signUp}"/>
        </div>

        <form name="member-registration" th:action="@{/guest/signUp}" th:object="${userSignUpRequest}" method="post"
              class="form-validate form-horizontal well">
            <fieldset>
                <div class="form-group">
                    <label th:text="#{first.name}">*</label>
                    <input type="text" class="form-control" required name="firstName"
                           pattern="^[A-Za-zА-ЩЬЮЯҐІЇЄа-щьюяґіїє'\- ]{1,30}"
                           th:title="#{title.letters}"
                           th:field="*{firstName}"
                    />
                    <small class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
                </div>
                <div class="form-group">
                    <label th:text="#{last.name}">*</label>
                    <input type="text" class="form-control" required name="lastName"
                           pattern="^[A-Za-zА-ЩЬЮЯҐІЇЄа-щьюяґіїє'\- ]{1,30}"
                           th:title="#{title.letters}"
                           th:field="*{lastName}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                </div>
                <div class="form-group">
                    <label th:text="#{pass}">*</label>
                    <input type="password" class="form-control" required name="password"
                           pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#&()–[{}]:;',?/*~$^+=<>]).{8,20}$"
                           th:title="#{title.pass}"
                           th:field="*{password}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                </div>
                <div class="form-group">
                    <label th:text="#{conf.pass}">*</label>
                    <input type="password" class="form-control" required name="repeated_password"
                           th:field="*{repeated_password}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('repeated_password')}" th:errors="*{repeated_password}"></small>
                </div>
                <div class="form-group">
                    <label th:text="#{email}">*</label>
                    <input type="email" class="form-control" required name="email"
                           pattern="^(?=.{1,64}@)[A-Za-z0-9_-]+(\\\\.[A-Za-z0-9_-]+)*@\[^-][A-Za-z0-9-]+(\\\\.[A-Za-z0-9-]+)*(\\\\.[A-Za-z]{2,})$"
                           th:title="#{title.email}"
                           th:field="*{email}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                </div>
                <div class="form-group">
                    <label th:text="#{telephone.num}">*</label>
                    <input type="text" class="form-control" required name="mobileNumber"
                           pattern="^(?:\+38)?(?:[0-9] ?){9}[0-9]$"
                           th:title="#{title.phone}"
                           th:field="*{mobileNumber}"/>
                    <small class="text-danger" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}"></small>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="form-group d-flex justify-content-start">
                        <button type="submit" class="submit" th:text="#{submit}"/>
                    </div>
                    <div class="form-check form-group d-flex justify-content-end">
                        <a style="color: rgba(206, 18, 18, 0.8)" href="/guest/signIn" th:text="#{sign.instead}"/>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>